@model MVCBlog.Core.Entities.BlogEntry


    <ul class="header-control list-inline">
        <li>
            <div class="info-item">
                <i class="fa fa-calendar"></i>&nbsp;@this.Model.PublishDate.ToString("dd/MM/yyyy")
            </div>
        </li>
        @if (this.Model.Author != null)
        {
            <li>
                <div class="info-item">
                    <i class="fa fa-user"></i>&nbsp;<text>@this.Model.Author</text>
                </div>
            </li>
        }
        @if (this.Request.IsAuthenticated)
        {
            <li>
                <div class="info-item">
                    <i class="fa fa-edit"></i>&nbsp;<a href="@Url.Action(MVC.Administration.EditBlogEntry(this.Model.Id))" title="@Common.Edit">@Common.Edit</a>
                </div>
            </li>
            <li>
                <div class="info-item">
                    <i class="fa fa-times-circle-o"></i>&nbsp;<a href="@Url.Action(MVC.Blog.Delete(this.Model.Id))" class="adminlink deleteicon" title="@Common.Delete" onclick="if (!confirm('@Common.DeleteConfirmation')) { return false;}">@Common.Delete</a>
                </div>
            </li>
        }
    </ul>
