<!DOCTYPE html>
<html>

<head>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>@Html.MvcSiteMap().SiteMapTitle() - www.codingnotes.co.nz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Rovian Voelz Veronez">
    <meta name="keywords" content="coding, rovian, rovian voelz veronez, rovianvz">
    <meta name="robots" content="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/css/combined")
    @RenderSection("HeaderContent", false)

</head>

<body>
    @Html.Hidden("RedirectToBlog", Url.Action("Index", "Blog"));
    @Html.Hidden("RedirectToRovian", Url.Action("Index", "Rovian"));
    @Html.Hidden("RedirectToMurilo", Url.Action("Index", "Murilo"));

    <div id="preloader">
        <div id="status">&nbsp;</div>
        <noscript>JavaScript is off. Please enable to view full site.</noscript>
    </div>

    <div class="wrapper">
        <div class="container">
            @RenderSection("HeroUnit", false)
            <header id="home">

                @RenderSection("HeaderTitle", false)
                
                <div class="nav-menu top-menu-holder">
                    <nav class="hidden-xs visible-lg ">
                        <ul class="nav">
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Blog" ? "active" : "")">
                                @Html.RouteLink("blog", MVCBlog.Website.Routes.DEFAULT, new { action = MVC.Blog.ActionNames.Index, controller = MVC.Blog.Name })
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Rovian" ? "active" : "")">
                                <a href="@Url.Action("Index", "Rovian")">rovian</a>
                            </li>
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Murilo" ? "active" : "")">
                                @Html.ActionLink("murilo", "Index", "Murilo")
                            </li>

                        </ul>

                    </nav>

                    <select class="top-drop-menu nav visible-md visible-sm visible-xs hidden-lg">
                        <option value="b" selected="selected">
                            Home
                        </option>
                        <option value="r">
                            Rovian
                        </option>
                        <option value="m">
                            Murilo
                        </option>
                    </select>
                </div>

            </header>
            @RenderBody()
        </div>

    </div>

    <a class="goto-top" href="#gotop"></a>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("ScriptContent", false)
</body>


</html>

